* {
    background-color: rgb(247, 247, 247);
    font-family: "Roboto";
}

div.container {
    /* border : 1px solid lightgray; */
    height: 80px;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
@font-face {
    font-family: 'KOHIBaeumOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/KOHIBaeumOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.LogoSpace {
    /* border : 1px solid lightgray; */
    font-family: 'KOHIBaeumOTF', sans-serif;
    color : rgb(34, 34, 34);
    font-size: 20px;
    transform: translateY(15px);
    text-align: center;
    line-height: 60px;
    margin-left: 20px;
    float: left;
    height: 50px;
    width: 150px;
}
div.Functions{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
    transform: translateY(15px);
    margin-top: 25px;
    height: 20px;
    float: right;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  #FContact div {
    position: relative;
    display: inline-block;
  }
 
  .arrow_box {
    display: none;
    position: absolute;
    width: 150px;
    padding: 8px;
    left: 0;
    border-radius: 8px;
    background: rgba(3, 13, 206, 0.775);
    color: #fff;
    font-size: 14px;
  }
  
  .arrow_box:after {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border: solid transparent;
    border-color: rgba(51, 51, 51, 0);
    border-bottom-color: rgba(3, 13, 206, 0.775);
    border-width: 10px;
    pointer-events: none;
    content: ' ';
  }

  .span:hover + p.arrow_box {
    display: block;
  }
  
div.ConverterBody {
    display: flex;
}
div.TitleBox {
    width: 50%;
    float: left;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.632);
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.TitleOfTitle {
    font-family: 'Roboto' , sans-serif;
    color: blue;
    font-size: 60px;
    text-align: center;
}
.TitleOfTitle.Converter {
        font-weight: 500;
        font-size: 50px;
        color: black;
}
.converter {
    width: 50%;
    float: right;
    text-align: center;
    
}
.converterTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

table {
    margin-top: 60px;
    border-collapse: collapse;
}

th{
    width: 120px;
}

th.ConverterTH {
    width: 200px;
}

tr {
    height: 50px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
input {
    border: 1px solid lightgray;
    border-radius: 10px 100px / 120px;
    font-family: "Roboto";
    text-align: center;
    width: 100px;
    height: 20px;
}
input[type=radio] {
    width: 10px;
    height: 10px;
}
input[type=button] {
    border: 0;
    width: 150px;
    height: 30px;
    color: white;
    background-color: rgba(0, 0, 255, 0.546);
}
input[type=button]:hover {
    background-color: blue;
    cursor: pointer;
}
input.Function {
    color: black;
    width: 100px;
    font-weight: 500;
    background-color: rgba(0, 0, 255, 0);
}
input.Function:hover {
    background-color: rgba(240, 248, 255, 0);
    font-size: 20px;
    font-weight: 700;
}

.Description {
    text-align: left;
    font-size: 15px;
}

.Caution {
    margin-left: 60px;
    margin-right: 60px;
}

.CautionBold.Title {
    width: 200px;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
}

.EnglishDescription {
    width: 50%;
    height: 200px;
    float: left;
    color: rgba(0, 0, 0, 0.7);
    
}
.KoreanDescription {
    width: 50%;
    height: 200px;
    float: right;
    color: rgba(0, 0, 0, 0.7);
}

.GradeTable {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.fieldset {
    height: 200px;
    border: 0;
    border-radius: 0px 100px 0px 0px/ 120px;
    background-color: blue;
    color: white;
}
.FieldTitle {
    background-color: rgba(240, 248, 255, 0);
    color: white;
    line-height: 50px;
    font-size: 30px;
}
.FieldName {
    background-color: rgba(240, 248, 255, 0);
}
.FieldDiv {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0.711);
    font-size: 15px;
}
.FieldDiv.One {
    width: 40%;
    float: left;
}
.FieldDiv.Two {
    width: 60%;
    float: right;
    line-height: 30px;
}
.FieldDes {
    background-color: rgba(0, 0, 0, 0);
}
.FieldDes.Subtitle {
    color: white;
}
.FieldDes.img {
    float: left;
}
img.Univ:hover {
    background-color: white;
    border: 15px solid white;
    border-radius: 100px 100px 100px 100px/ 100px;
    cursor: pointer;
}
img.Univ {
    background-color: rgb(246, 245, 245);
    border: 5px solid rgb(246, 245, 245);
    border-radius: 100px 100px 100px 100px/ 100px;
}
.FieldDes.Des {
    float: right;
    margin-left: 30px;
}
.FieldDes.UOS {
    display: flex;
    justify-content: left;
    align-items: center;
}
.FieldDes.WSU {
    display: flex;
    justify-content: left;
    align-items: center;
}
footer {
    height: 50px;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContINFO {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(246, 245, 245, 0.863);
    margin-left: auto;
    margin-right: auto;
}
.ContINFO.Title {
    color: white;
    font-size: 13px;
    font-weight: 700;
}
.ContINFO.gateway:hover {
    color: white;
    font-size: 13px;
    cursor: pointer;

}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}